.loading {
    background: #5f27a8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.loading > h1 {
    font-size: 1.5em;
    color: #c7a7fb;
}

.loading-icon > svg {
    color: white;
    animation: rotate .35s infinite linear;
    font-size: 2em;
}

@keyframes rotate {
   100% {
       transform: rotate(360deg);
   }
}

